* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    background-color: #7297A6;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.header {
    height: 100px;
    background-color: #7297A6;
    font-size: 40px;
    display: flex;
    align-items: center;
    padding-left: 250px;
}

.navbar {
    height: 70px;
    background-color: #011F26;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0;
    list-style: none;
    font-size: 20px;
    background-color: #011F26;
}

li {
    position: relative;
    display: inline;
    padding: 20px 30px;
    border-left: solid 1px #7297A6;
    color: #BF9780;
    background-color: #011F26;
}

li:last-child {
    border-right: 1px solid #7297A6;
}

li:hover {
    background-color: #592547;
}

.activ_button {
    background-color: #592547;
}

section {
    display: flex;
    background-color: #7297A6;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.addition {
    display: flex;

}

.data_list {
    width: 80%;
    background-color: #F2F2F0;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
}

table,
th,
td {
    border: 1px solid #011F26;
    padding: 8px;
    background-color: #F2F2F0;
}

table td:nth-child(1),
table td:nth-child(4),
table td:nth-child(6),
table td:nth-child(7),
table td:nth-child(8) {
    text-align: center;
}

.section td:nth-child(5) {
    text-align: center;
}

.control_panel {
    margin: 20px;
    display: flex;
    width: 80%;
    justify-content: flex-start;
    gap: 50px
}

.open_modal {
    position: fixed;
    top: 50%;
    left: 45%;
    z-index: 25;
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid black;
    top: 50%;
    background-color: gray;
    color: white;
    font-family: 'Shantell Sans', cursive;
    font-size: medium;
}

.modal_window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    background-color: #7297A6;
    font-family: 'Shantell Sans', cursive;
    font-size: xx-large;
    display: none;
    transition: .5s all;
    z-index: 30;
    box-shadow: 0 0 10px #011F26;
}

.modal_close {
    position: absolute;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    transition: all 0.6s;
    cursor: pointer;
    font-size: 50px;
}

.modal_close:hover {
    color: #FFF;
    transform: rotate(135deg);
}

.active {
    display: flex;
    transition: all 2s;


}

.text {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
}

.background {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    z-index: 20;
    transition: .3s all;
}

.active1 {
    opacity: 1;
    visibility: visible;


}

input,
button,
select {
    margin: 10px 10px 10px 0;
    font-size: 16px;
    border-radius: 5px;
    background-color: #F2F2F0;
    border: none;
    padding: 10px;
}

button:hover {
    background-color: #592547;
    color: #BF9780;

}

button {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #011F26;
}

button:active {

    box-shadow: 0 0 0 0 #011F26;
}

.changeButtons {
    display: flex;
    justify-content: space-between;
}

.btnChange,
.btnDelete {
    width: 100%;
}

.best5Book,
.best5Visitors {

    color: #011F26;
    background-color: #7297A6;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.top {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

}


.best5Book ol,
.best5Visitors ol {
    display: flex;
    flex-direction: column;

}

.best5Book li,
.best5Visitors li,
.data_list p {
    color: #011F26;
    padding: 5px 5px;
    font-size: 24px;

}

.data_list p {
    display: flex;
    justify-content: center;
    background-color: #7297A6;
}

.best5Book li:hover,
.best5Visitors li:hover {
    background-color: #7297A6;
}

h2,
.best5Visitors {
    padding: 10px;

}

h2 {
    font-size: 36px;
    color: #BF9780;
    text-shadow: 2px 2px 2px #011F26;
}
